.service-block{
   position: relative;
   margin: 0 0 30px;
   background: transparent;
   .service-block-content{
      padding: 30px;
      .service-icon{
         font-size: 36px;
         color: $theme_color;
         margin-bottom: 25px;
      }
      .service-content{
         .title{
            font-size: 18px;
            font-family: $font-second;
         }
         .desc{
            margin: 10px 0;
         }
      }
   }
   .frontend, .backend{
      z-index: 1;
      border-radius: inherit;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: inherit;
      perspective: inherit!important;
      -webkit-transition: transform 0.5s cubic-bezier(0.5,0.2,0.2,0.8);
      -moz-transition: transform 0.5s cubic-bezier(0.5,0.2,0.2,0.8);
      transition: transform 0.5s cubic-bezier(0.5,0.2,0.2,0.8);
      min-height: 250px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      background: $white;
   }
   .frontend{
      height: inherit;
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
      .frontend-content{
         border-top: 0;
         text-align: center;
         .service-block-content{
            .title{
               margin: 8px 0 18px;
            }
         }
      }
   }
  .backend{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      background: #242424;
      @include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
      border: 1px solid rgba(0, 0, 0, 0.08);
      .content-be{
         height: 100%;
         -webkit-transform: translateZ(70px) scale(.86);
         -moz-transform: translateZ(70px) scale(.86);
         -o-transform: translateZ(70px) scale(.86);
         transform: translateZ(70px) scale(.86);
         -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
         -ms-backface-visibility: hidden;
         backface-visibility: hidden;
      }
      .service-block-content{
         .title{
            a{
               color: $white;
               &:hover{
                  color: $theme_color;
               }
            }
         }
         .desc{
            color: $white;
         }
      }
  }
  .box-content{
    -webkit-perspective: 1000px;
    perspective: 1000px;
    border-radius: inherit;
  }
  &:hover, &:active, &:focus, &.active{
    .frontend, .backend{
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: transform 1.5s cubic-bezier(0.3,1,0.6,1);
      -moz-transition: transform 1.5s cubic-bezier(0.3,1,0.6,1);
      transition: transform 1.5s cubic-bezier(0.3,1,0.6,1);
    }
    .frontend{
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }
    .backend{
      -webkit-transform: rotateY(0);
      -moz-transform: rotateY(0);
      -o-transform: rotateY(0);
      transform: rotateY(0);
    }
  }
}

.service-block-2{
   @include clearfix();
   position: relative;
   .service-images{
      position: relative;
      &:after{
         content: '';
         @include size(100%, 100%);
         background: rgba(0, 0, 0, 0.6);
         position: absolute;
         top: 0;
         left: 0;
         z-index: 9;
         @include transition(all 0.35s);
         @include opacity(0);
      }
      .image-popup{
         position: absolute;
         top: 50%;
         left: 50%;
         margin-top: -18px;
         margin-left: -18px;
         @include size(36px, 36px);
         z-index: 11;
         background: $white;
         text-align: center;
         line-height: 38px;
         color: $black;
         opacity: 0;
         &:hover{
            color: $white;
            background: $theme-color;
         }
      }
      &:hover{
         .image-popup{
            @include opacity(1);
         }
         &:after{
            @include opacity(1);
         }
      }
   }
   .service-content{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 99;
      padding-left: 30px;
      max-width: 60%;
      overflow: hidden;
      &:after{
         content: '';
         position: absolute;
         left: 14px;
         top: 0;
         width: 40px;
         height: 110%;
         background: $white;
         z-index: 1;
         -webkit-transform: rotate(10deg);
         -ms-transform: rotate(10deg);
         -o-transform: rotate(10deg);
         transform: rotate(10deg);
      }
      .content-inner{
         padding: 20px;
         background: $white;
         position: relative;
         z-index: 11;
         .title{
            font-size: 14px;
         }
         .desc{
            @include media-breakpoint-down(xs){
               display: none;
            }
         }
      }
   }
}

.service-block-3{
   background: $white;
   @include box-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
   margin-bottom: 30px;
   .service-images{
      position: relative;
      &:after{
         content: '';
         @include size(100%, 100%);
         position: absolute;
         top: 0;
         left: 0;
         background: rgba(0, 0, 0, 0.4);
         z-index: 1;
         opacity: 0;
         @include transition(all 0.35s);
      }
      .image-popup{
         position: absolute;
         top: 50%;
         left: 50%;
         margin-top: -18px;
         margin-left: -18px;
         @include size(36px, 36px);
         z-index: 11;
         background: $white;
         text-align: center;
         line-height: 38px;
         color: $black;
         opacity: 0;
         &:hover{
            color: $white;
            background: $theme-color;
         }
      }
   }
   .service-content{
      position: relative;
      padding: 15px 20px 20px;
      .title{
         font-size: 18px;
         margin: 12px 0;
      }
   }
   &:hover{
      .service-images{
         &:after{
            opacity: 1;
         }
         .image-popup{
            opacity: 1;
         }
      }
   }
}

.services-tab{
   .tab-carousel-nav{
      width: 33.33333%;
      float: left;
      @media(max-width: 992px){
         width: 100%;
         margin-bottom: 20px;
      }
      .link-service{
         font-weight: 700;
         display: block;
         text-align: left;
         padding: 36px 20px;
         background: $white;
         font-size: 14px;
         position: relative;
         font-family: $font-second;
         text-transform: capitalize;
         color: $headings-color;
         @media(max-width: 992px){
            padding: 25px 10px 10px;
            font-size: 12px;
            min-height: 80px;
            line-height: 1.5;
         }
         i{
            font-size: 22px;
            margin-right: 6px;
            color: $theme-color;
         }
         &:after{
            content: '';
            @include size(5px, auto); 
            position: absolute;
            top: 20px;
            bottom: 20px;
            right: 0;
            background: $white;
            z-index: 11;
            @include opacity(0);
            @include transition(all 0.35s);
         }
         &:hover{
            background: $theme-color;
            color: $white;
            cursor: pointer;
            i{
               color: $white;
            }
            &:after{
               @include opacity(1);
            }
         }
      }
      .slick-center{
         .link-service{
            background: $theme-color;
            color: $white;
            i{
               color: $white;
            }
            &:after{
               @include opacity(1);
            }
         }
      }
   }
   .tab-lists-content{
      width: 66.66667%;
      float: left;
      @media(max-width: 992px){
         width: 100%;
      }
   }
}
.service-block-singe{
   .service-images-inner{
      position: relative;
      .service-icon{
         font-size: 22px;
         @include size(100px, 48px);
         position: absolute;
         bottom: -25px;
         left: 0;
         text-align: center;
         padding-top: 6px;
         line-height: 48px;
         .icon{
            position: relative;
            z-index: 9;
            @include size(48px, 48px);
            @include border-radius(50%);
            background: $theme-color;
            color: $white;
            display: inline-block;
         }
         &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            @include size(100%, 100%);
            background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NiAzMSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5iZ19zb3VyY2VfYmFkZ2VfMTwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik01Ny42NywxMS45NEM1Mi4zNiw2LjcxLDQ4LjQyLDAsMzguMywwSDM3LjdDMjcuNTgsMCwyMy42NCw2LjcxLDE4LjMzLDExLjk0LDE0LjQ3LDE2Ljc2LDYuNjEsMTcuODEsMCwxOFYzMUg3NlYxOEM2OS4zOSwxNy44MSw2MS41MywxNi43Niw1Ny42NywxMS45NFoiLz48L2c+PC9nPjwvc3ZnPg==");
         }
      }
   }
   .post-content{
      padding-top: 40px;
      .post-title{
         margin-bottom: 15px;
      }
   }
}

body.path-services .body-page{
   background: #F3F3F6;
}