header.header-1{
  position: relative !important;
}
#header {
  background-color: #00839b;
}

#header .topbar{
  background-color: #00839b;
  border-bottom: none;
}
#header .topbar .container{

  border-bottom: solid 1px #cccccc;
}
#content .help.gav-help-region{
  display: none !important;
}
.header-main .header-main-inner .header-inner{

  float: right;
}
.header-main .header-main-inner .header-inner ul {
  list-style-type: disc;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
  width:500px;
}

.header-main .header-main-inner .header-inner ul li{
  float:left;
  width:240px;
  line-height: 1em;

}
.header-main .header-main-inner .header-inner ul li:nth-child(even){
  margin-right:0;
}
.header-main .header-main-inner .header-inner ul li a{
  padding-top: 1.2em !important;
  padding-bottom: 1.2em !important;
  font-size: 16px !important;
}
input#edit-keys--2{
  width: 60%;
}
#block-covid19 h2{
  color: #ffffff;
  line-height: 2em;
}
#block-mainnav-3 ul.gva_menu li.menu-item{
  display: block;
}
#block-mainnav-3 ul.gva_menu li.menu-item a{
  padding: 3px !important;

}
#footer {
  background-color: transparent;
}
.footer-column{
  font-size: 16px;
}
.footer-column{
  padding: 40px;
}

#footer .footer-first{
  background-color: #6bab43;
}
.highlighted {
  background-color: #00839b;
}
.block .block-title:after{
  background: #00839b;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon, .ui-accordion-header-icon{
  float: right !important;
  zoom: 2;
  margin-top: 1px;
}
#header .topbar .container{
  height: 160px;
}
.navigation .gva_menu > li > a{
  text-transform: inherit;
}
#page-main-content {
  padding-top: 80px;
}
.ui-accordion .ui-accordion-header{
  border: none;
  background: none;
  padding-left: 0 !important;
}
.ui-accordion .ui-accordion-content{
  border-bottom: solid 1px #777777;
  padding-left: 0 !important;

}
.ui-accordion-header-collapsed{
  border-bottom: solid 1px #777777 !important;

}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
  color: #00839b;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{
  color: #00839b;
}
.ui-widget-content {
  border: none;
  background: transparent;

}
.ui-state-active{
  color: #00839b !important;

}
.title.page-title{
  padding-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: inherit;
}
.ui-accordion #page-main-content .views-field-field-source, .ui-accordion #page-main-content #page-main-content .views-field-field-updated{
  display: block !important;
  font-size: 0.9em;
  font-style: italic;
  color: #888 !important;

}

.views-field-term-node-tid{
  margin-right: 0.5em;
}
.block-views-blockrecent-updates-block-1 .views-field-field-updated{
  margin-bottom: 20px;
}
.ui-accordion .views-field-field-updated{
  margin-bottom: 20px;
}
#block-views-block-recent-updates-block-1 .views-field-title a{
  font-size: 16px;
  line-height: 22px;
  color: #6bab43;
  word-wrap: break-word;
  font-weight: 700;
  text-transform: capitalize;
}

#block-views-block-recent-updates-block-1 .item{
  border-bottom: 1px solid #3b3d40;
  margin-bottom:  20px;
}
.block-views-blockrecent-updates-block-1.block .block-title:after{
  background-color: #6bab43 !important;
  height: 5px;
}
.block-views-blockrecent-updates-block-1.block .block-title{
  text-transform: capitalize;
}
.views-field-field-source, .views-field-field-updated {
  display: inline-block ;
  color: #888 !important;
}
.views-field-field-source{
  display: block;
}
.views-field-field-source .field-content{
  display: inline-block;
}
.views-field-field-source a{
  color: #888;

}
.views-field-term-node-tid a{
  color: #888 !important;
}
#block-askjes{
  background-color: #6bab43;
  padding: 35px;
}
#block-askjes h3{
  color: #ffffff;
  padding-bottom: 5px;
  text-align: center;
}
#block-askjes p{
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-size: 1.3em;
}
#block-askjes a{
  background-color: #ffffff;
  color: #000000;
  font-style: normal;
  text-align: center;
  width: 100%;
  border-radius: 30px;
  text-transform: capitalize;
  font-size: 1.3em;
}
#footer #block-fundedby h2.block-title span{
  color: #3b3d40 !important;
}
#footer #block-informationfrom h2.block-title span{
  color: #3b3d40 !important;
}
#footer .footer-second{
  background-color: #f9f9f9;
}
.footer-third{
  padding-right: 0;
}
.footer-third ul li{
  display: inline-block;
  position: relative;
  width: 120px;
  clear: none;
  margin: 5px 5px;
  vertical-align: middle;
}
.views-field-field-link .field-content, .views-field-field-updated .field-content, .views-field-field-category .field-content {
  display: inline-block;
}
#block-views-block-updates-block-1   .views-field-field-category{
  margin-bottom: 20px;
}
.feed-icon{
  display: none;
}
#page-main-content h2{
  color: #6bab43 !important;
}
#page-main-content h2 a{
  color: #6bab43 !important;
}
#page-main-content h2{
  color: #6bab43 !important;
}
#page-main-content #block-gavias-uxima-content .field--label-inline .field__label, #page-main-content #block-gavias-uxima-content .field--label-inline .field__items, #page-main-content #block-gavias-uxima-content .field--label-inline .field__item{
  display: inline-block;
}
#page-main-content #block-gavias-uxima-content .field--type-datetime{
  margin-bottom: 20px;
}
.ui-accordion a{
  color: #00839b;
}
p {
  font-size: 1.3em;
  font-family: Helvetica !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: Helvetica;
  font-family: Helvetica !important;
}
a{
  font-family: Helvetica;
  font-family: Helvetica !important;
}
.ui-accordion-content{
  height: auto !important;
}
#page-main-content a{
  color: #00839b;

}
#page-main-content .item-list .view-list-item{
  border-bottom: 1px solid #3b3d40;
}
.page-title{
  /*color: #6bab43 !important;*/
}

.block-gavias-uxima-content a{
  color: #00839b;
}
.frontpage .main-category ul{
  padding-left: 0;
}
.frontpage .main-category ul li {
  list-style: none;
  display: inline-block;

}
.frontpage .main-category ul li div{
  display: inline-block;
}
.frontpage .main-category ul li .icon{
  margin-right: 20px;
  float: left;

}
.frontpage .main-category ul li .content{
  width: 80%;
  float: left;
}

.frontpage .main-category ul li .btn{
  border-radius: 25px;
  float: right;
  clear: both;
}
.frontpage .main-category ul li .btn a{
  color: #ffffff !important;
}
.frontpage .header-title h2.title{
  display: none;
}
.frontpage .source{
  font-style: italic;
}
.frontpage .main-desc{
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-third{
  padding-left: 0;
}
.ui-accordion-content ul li{
  font-size: 16px;
}
.ui-accordion-content ol li{
  font-size: 16px;
}

.views-label-field-source .ui-accordion-content a{
  color: #00839b;
}


input.button{
  background-color: #e16a2d !important;
}
.btn{
  background-color: #e16a2d;
}
#block-askjes .btn.white{
  background-color: #ffffff !important;

}
@media (min-width: 1200px){
  .footer-second.col-xl-3 {
    max-width: 20%;
  }
  .footer-third.col-xl-6{
    width: 55%;
    max-width: 55%;
  }
}
@media (max-width: 991.98px){
  .topbar .topbar-content-inner{
    padding-right: 0;
  }
  .site-branding-logo{
    max-width: 66%;
    padding-top: 45px !important;
  }
  #block-jesbranding img{
    width: 30%;
  }
  .header-main .header-main-inner .header-inner ul {
    list-style-type: none;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    width: 100%;

  }
  .header-main .header-main-inner .header-inner ul li{
    margin-bottom: 10px;
  }
  .header-main .header-main-inner .header-inner ul li a{
    color: #6bab43 !important;
  }

  .gva-offcanvas-mobile .after-offcanvas {
    display: none !important;
  }
  .frontpage .main-category ul li .content{
    width: 70%;
  }
  .frontpage .main-category ul li .content .desc{
    margin-left: -80px;
  }
  .frontpage .main-category ul li .content .title {
    display: flex;
    height: 6em;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;

  }
  .frontpage .main-category ul li .content .title h3{
    text-align: center;
    margin: auto 0; /* Important */
  }
  .frontpage .main-category ul li .btn{
    margin: auto;
    display: block;
    float: none;
    width: 220px;
  }
  .main-category ul li{
    margin-bottom: 50px;
  }
  .main-category ul li.odd{
    margin-bottom: 50px;
    background-color: #f9f9f9;
  }
  .search-block-form{
    display: none;
  }
  #block-mainnav-3-menu {
    text-align: center;
  }
  h2#block-mainnav-3-menu{
    margin-bottom: 0;
  }
  #block-mainnav-3-menu:after{
    display: none;
  }
  #block-mainnav-3 ul {
    padding-left: 0;
  }
  #block-mainnav-3 ul li{

    text-align: center;

  }
  #block-informationfrom .footer-third ul li {
    width: auto;
    padding:5px;
  }
  #block-informationfrom h2{
    margin-left: 40px
  }
  #block-informationfrom h2:after{
    margin-left: 40px
  }
  .site-branding-logo img{
    width: 200px !important;
  }
  #block-covid19 h2{
    line-height: 1.5em;
  }
  #menu-bar {
    top: 8%;
  }
  #header .topbar .container{
    /*border-bottom: none;*/
  }
}
